{% extends "base.html" %}
{% block title %} Вход в систему {% endblock %}
{% block login_active %} class="active" {% endblock %}
{% block content %}
    <div class="col-md-offset-3 col-md-6">
        <div class="page-header"><h2 style="text-align: center;">Страница входа</h2></div>
        <form class="form-horizontal" method="post" action="./?next={{ redirect_url }}">
            {% csrf_token %}
            <div class="form-group row">
                <label class="control-label col-md-offset-1 col-md-3" for="username">E-mail</label>
                <div class="col-md-6">
                    <input type="text" id="username" name = "username" placeholder="Логин" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-offset-1 col-md-3" for="password">Пароль</label>
                <div class="col-md-6">
                    <input type="password" id="password" name = "password" placeholder="Пароль" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <p class="text-center">Сожалеем, вы неправильно ввели e-mail или пароль.</p>
                    </div>
                {% endif %}
                <div class="col-md-offset-3 col-md-6">
                    <center>
                        <button class="btn btn-primary btn-block" type="submit">Войти</button><br>
                        <a href="{% url 'accounts:signup' %}"/>Зарегистрироваться!</a><br>
                    </center>
                </div>
            </div>
            <input type="hidden" name="next" value="{{next}}" />
        </form>
    </div>
{% endblock %}