/* Colors */

.red {
	color: #bb0000;
}

a.red:hover {
	color: #dd0000;
	cursor: pointer;
}

.green {
	color: #00aa00;
}

a.green:hover {
	color: #00cc00;
}

a.bck {
	cursor: pointer;
    color: #2b2b2b;
	text-decoration:none
}

a.bck:hover {
	cursor: pointer;
    color: #2b2b2b;
	text-decoration:none
}


.bck.green {
	background-color: #bce8b3;
}

.bck.green:hover {
	background-color: #9de88d;
}

.bck.default {
	background-color: #e1e1e1;
}

.bck.default:hover {
	background-color: #d8d8d8;
}

.bck.red {
	background-color: #ffc8c8;;
}

.bck.red:hover {
	background-color: #ffb0b0;
}




.yellow {
	color: #ffaa33;
}

.blue {
	color: #0000ff;
}

a.blue:hover {
	color: #3333ff;
	cursor: pointer;
}

.grey {
	color: #777777;
}

a.grey:hover {
    color:#555555;
}

.bgrey {
	color: #333;
}

a.bgrey:hover {
    color:#111;
}

.light {
	color: #aaa;
}

a.light:hover {
	color: #888;
}

.lblue {
	color: #c9d8e6;
}

a.lblue:hover {
	color: #6b8db1;
}



.btn-diht {
    color: #fff;
    background-color: #f58120;
    border-color: #d97010;
}

.btn-diht:hover {
    background-color: #d97010;
    color: #fff;
}

/* Font Using */

body {
	font-family:"RobotoRegular";
}

.robotobold {
	font-family: RobotoBold;
}

.robotomedium {
	font-family: RobotoMedium;
}

.robotolight {
	font-family: RobotoLight;
} 

/* Sizes */

.usual-letters {
	font-size: 14px;
}

.bigger-letters {
    font-size: 16px;
}

.big-letters {
    font-size: 18px;
}

/* Effects */

p {
    margin-bottom: 2px;
}

td.ra {
    text-align: right;
}

.value-accent {
	font-family: RobotoBold;
	font-size: 16;
	color: #444444;
}

.date-accent {
	font-family: RobotoBold;
	font-size: 14;
	color: #444444;
}

.lbl {
    font-size:90%;
}

.just-a-line {
	margin: 4px 0px;
	border-color: #BBBBBB;
}

.param {
    display: inline-block;
    color: #777777;
}

.section {
	margin-top: 15px;
}

.section-name {
	color: #111111;
	font-family: "RobotoMedium"
}

/* Images */

img.avatar {
    border-radius:5px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}

img.round {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}
