{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h3>О проекте</h3>
</div>
<div class="row">
    <div class="col-lg-12">
        <p>Этот сайт - корпус стихотворений русских поэтов 19-20 веков, размеченных по слогам и ударениям.</p>
        <p>Кроме того, реализован генератор стихотворений на основе марковских цепей.</p>
        <p>Исходный код разметчика и генератора в находится открытом доступе.</p>
        <p>Характеристики:</p>
        <ul>
            <li>Символов: 13208090</li>
            <li>Слов: 2186827</li>
            <li>Стихотворений: 16694</li>
            <li>Стихотворений, протегированных темами: 3904</li>
            <li>Авторов: 195</li>
        </ul>
    </div>
</div>
{% endblock %}