{% extends "base.html" %}
{% block accents_active %} class="active" {% endblock %}
{% block content %}
<div class="page-header">
    <h3>Определение ударения </h3>
</div>
<div class="row">
    <div class="col-lg-8">
        <form class="form-vertical text-center" id="accents_form" action="./{{ form.as_url_args }}" method="get">
            {% include "form.html" %}
             <br>
            <button class="btn btn-primary" type="submit" id="gen_button">Определить ударение</button>
        </form>
        <div style="font-size: 20px; text-align: center;padding-top:20px;">
            {% include "accented.html" with text=word_markup %}
        </div>
    </div>
</div>
{% endblock %}