{% extends "base.html" %}
{% load static from staticfiles %}

{% block download_active %} class="active" {% endblock %}
{% block content %}
<div class="page-header">
    <h3>Скачать корпус</h3>
</div>
<div class="row">
    <div class="col-large-12">
        <p>Скачать <a href="{% static 'download/TextsMeta.zip' %}">TextMeta.zip</a> - стихотворения с метаданными, 8 MB</p>
        <p>Скачать <a href="{% static 'download/Markups.zip' %}">Markups.zip</a> - разметки, 68 MB</p>
    </div>
</div>
{% endblock %}