{% extends "base.html" %}
{% load static from staticfiles %}
{% load add_class %}
{% block generator_active %} class="active" {% endblock %}
{% block custom_head %}
<script src="{% static 'js/generator.js' %}"></script>
{% endblock %}
{% block content %}
<div class="page-header">
    <h3>Генератор стихов на основе корпуса</h3>
</div>
<div class="row">
    <div class="col-lg-9">
        <p class="text-center">{{ generated|linebreaksbr }}</p>
    </div>
    <div class="col-lg-3">
         <form class="form-vertical" id="generator_form" action="./{{ form.as_url_args }}" method="get">
            {% include "form.html" %}
             <br>
            <button class="btn btn-block btn-primary" type="submit" id="gen_button">Генерировать</button>
        </form>
    </div>
</div>
{% endblock %}ml>