{% extends "base.html" %}
{% load static from staticfiles %}
{% block custom_head %}
<script src="{% static 'js/ajax.csrf.js' %}"></script>
<script src="{% static 'lib/mousetrap/mousetrap.min.js' %}"></script>
<script src="{% static 'js/markup.js' %}"></script>
{% endblock %}
{% block content %}
<div class="page-header">
    <h3>{{ poem.author }} - {{ poem.name }}</h3>
</div>
<div class="col-lg-6">
    <select class="form-control markup-selector">
        {% for markup in poem.markups.all %}
            <option value="{{markup.pk}}" class="markup">{{ markup.author}}</option>
        {% endfor %}
    </select>
</div>
<div style="font-size: 20px; padding-top: 20px;" class="col-lg-9 poem" id="{{ poem.pk }}">
<p style="font-size: 15px;">Кликайте по слогами, чтобы менять ударение</p>
{% include "accented.html" with text=text %}


<div style="padding-top:20px;">
    {% if user.is_authenticated %}
    <button class="btn btn-md btn-warning send-markup">Сохранить разметку</button>
    {% endif %}
    {% if user.is_authenticated and user.is_superuser and markup.markup_version.is_manual %}
        <a class="btn btn-md btn-danger delete-view" href="{% url 'corpus:markup_delete' pk=markup.pk %}" id="delete-button">Удалить</a>
    {% endif %}
    {% if user.is_authenticated and user.is_superuser and markup.markup_version.is_manual and not markup.is_standard %}
        <a class="btn btn-md btn-success" href="{% url 'corpus:markup_make_standard' pk=markup.pk %}" id="markup-make-standard">Пометить как эталонную</a>
    {% endif %}
    {% if not user.is_authenticated  %}
    <p style="font-size: 15px;">Только авторизованные пользователи могут добавлять разметку.</p>
    {% endif %}
</div>

<div style="padding-top:20px;">
    <a class="btn btn-md btn-primary" href="{% url 'corpus:poem' pk=poem.pk %}" id="to-text-button">Назад к тексту</a>
</div>
</div>

<div class="col-lg-3">
    <h4>Доп. информация</h4>
    <p>Строк: {{lines_count}}</p>
    {{ markup.get_automatic_additional|linebreaksbr }}
     {% for rhyme in rhymes %}
        <p>{{rhyme}}</p>
    {% endfor %}
    <h4>Сравнение: </h4>
    Тестовая:
    <select class="form-control test">
        {% for markup in markups %}
            <option value="{{markup.pk}}" class="test">{{ markup.name}}</option>
        {% endfor %}
    </select>
    Эталонная
    <select class="form-control standard">
        {% for markup in markups %}
            <option value="{{markup.pk}}" class="standard">{{ markup.name}}</option>
        {% endfor %}
    </select>
    <div style="padding-top:10px;" class="text-center">
        <button class="btn btn-md btn-default compare">Сравнить</button>
    </div>
</div>
<div hidden id="poem_pk">{{poem.pk}}</div>

{% csrf_token %}
{% endblock %}