{% extends "base.html" %}
{% load static from staticfiles %}
{% block custom_head %}
<script src="{% static 'js/ajax.csrf.js' %}"></script>
<script src="{% static 'js/poem.js' %}"></script>
{% endblock %}
{% block content %}
<div class="page-header">
    <h3>{{ poem.author }} - {{ poem.name }}</h3>
</div>
<div class="col-lg-6">
    <select class="form-control markup-selector">
        {% for markup in poem.markups.all %}
            <option value="{{markup.pk}}" class="markup">{{ markup.author}}</option>
        {% endfor %}
    </select>
</div>
<div style="font-size: 20px; padding-top: 20px;" class="col-lg-9 poem" id="{{ poem.pk }}">
<p style="font-size: 15px;">Кликайте по слогами, чтобы менять ударение</p>
{% include "accented.html" with text=text %}

{% if user.is_authenticated %}
<div style="padding-top:20px;">
    <button class="btn btn-md btn-default send-markup">Отправить разметку</button>
</div>
{% endif %}
{% if not user.is_authenticated  %}
<div>
    <p style="font-size: 15px;">Только авторизованные пользователи могут добавлять разметку.</p>
</div>
{% endif %}
</div>

<div class="col-lg-3">
    <h4>Доп. информация</h4>
    <p>Строк: {{lines_count}}</p>
    {{ markup.get_automatic_additional|linebreaksbr }}
     {% for rhyme in rhymes %}
        <p>{{rhyme}}</p>
    {% endfor %}
</div>

{% csrf_token %}
{% endblock %}