{% load url_replace %}
{% if page_obj.has_previous or page_obj.has_next %}
<nav aria-label="Page navigation" class="text-center">
    <ul class="pagination">
    {% if page_obj.has_previous %}
        <li>
            <a href="?{% url_replace request 'page' page_obj.previous_page_number %}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
    {% endif %}
        <li aria-label="Current">
            <span aria-hidden="true">{{ page_obj.number }}</span>
        </li>
    {% if page_obj.has_next %}
        <li>
            <a href="?{% url_replace request 'page' page_obj.next_page_number %}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    {% endif %}
    </ul>
</nav>
{% endif %}
