{% extends "base.html" %}
{% block poems_active %} class="active" {% endblock %}
{% block content %}
<div class="page-header">
    <h3>Стихи</h3>
</div>
<div class="row">
    {% include "pagination.html" %}
    <div class="col-large-12">
        <div class="table-responsive col-md-12">
            <table class="table table-hover">
                <thead>
                    <th width="25%">Автор</th>
                    <th width="60%">Название</th>
                    <th width="20%" class="text-center">Размечено вручную?</th>
                </thead>
                {% for poem in poems %}
                <tr>
                    <td>{{ poem.author }}</td>
                    <td><a href="{% url 'corpus:markup' pk=poem.markups.all.0.pk %}">{{ poem.name }}</a></td>
                    <td  class="text-center">{% if poem.count_manual_markups != 0 %}
                        <i class="fa fa-check green" aria-hidden="true"></i>{% endif %}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% include "pagination.html" %}
</div>
{% endblock %}