{% extends "base.html" %}
{% load static from staticfiles %}
{% block analysis_active %} class="active" {% endblock %}
{% block custom_head %}
    <script src="{% static 'lib/mousetrap/mousetrap.min.js' %}"></script>
    <script src="{% static 'js/poem.js' %}"></script>
{% endblock %}
{% block content %}
<div class="page-header">
    <h3>{{ poem.author }} - {{ poem.name }}</h3>
</div>
<div class="row" >
    {%  if poem.markups.all|length != 0 %}
        <a class="btn btn-md btn-info" href="{% url 'corpus:markup' pk=poem.markups.all.0.pk %}" id="to-markups-button">Перейти к разметкам</a>
    {%  endif  %}
    {% if request.user.is_superuser %}
        <a class="btn btn-md btn-danger" id="edit-button">Редактировать</a>
    {% endif %}
        <a class="btn btn-md btn-primary" href="{% url 'corpus:poem' pk=prev_pk %}" id="prev-button">Предыдущее</a>
        <a class="btn btn-md btn-primary" href="{% url 'corpus:poem' pk=next_pk %}" id="next-button">Следующее</a>
    {% if request.user.is_superuser and not poem.is_standard %}
        <a class="btn btn-md btn-success" href="{% url 'corpus:poem_make_standard' pk=poem.pk %}" id="poem-make-standard">Текст проверен</a>
    {% endif %}
</div>
<div class="row" style="padding-top:20px;">
    <div class="col-lg-12 bigger-letters plain-text">
        {{ poem.text|linebreaksbr }}
    </div>
    {% if request.user.is_superuser %}
    <div class="col-lg-6 bigger-letters edit-plain-text hidden">
        <form>
            <textarea class="form-control mousetrap" rows="30" id="edit-text-field" name="text" style="overflow:auto;resize:none">{{ poem.text}}</textarea>
            <div style="padding-top:20px;">
                <button class="btn btn-md btn-danger" type="submit" id="save-button">Сохранить</button>
                <button class="btn btn-md btn-primary" id="cancel-button">Отмена</button>
            </div>
        </form>
    </div>
    {% endif %}
</div>

{% csrf_token %}
{% endblock %}
